<ul class="tweet-list">
	<% @tweets.each do |tweet| %>
		<li class="tweet">
			<div class="tweet__user">
				<img class="tweet__user-avatar" src="<%= tweet['user']['profile_image_url'] %>" />
				<p class="tweet__user-name"><%= tweet['user']['name'] %></p>
			</div>
			<p class="tweet__body"><%= tweet["text"] %></p>
		</li>
	<% end %>
</ul>